<!doctype html>
<html lang="en">
    <head>
        <%- headParts %>

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/index-page.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/404-page.css" />
    </head>

    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>

                <main class="Main IndexPage">
                    <div class="Main__container IndexPage__container">
                        <div class="Main__content IndexPage__content">
                            <div class="Page404__header">
                                <h3 class="Page404__title">
                                    <%= i18n('NOT_FOUND_PAGE.TITLE') %>
                                </h3>

                                <div class="Page404__text">
                                    <%= i18n('NOT_FOUND_PAGE.TEXT') %>
                                </div>
                            </div>

                            <div class="Page404__list">
                                <%- include(
                                    paths.toPartials + "/song-translations.ejs",
                                    { 'songbooksAsOptions': songbooks }
                                ); %>
                            </div>
                        </div>
                    </div>
                </main>
            </div>

            <%- include(paths.toPartials + '/footer.ejs'); %>
        </div>
        <%- include(paths.toPartials + '/gtag.ejs'); %>
    </body>
</html>
