<!doctype html>
<html lang="en">
    <head>
        <%- headParts %>

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/index-page.css" />
    </head>
    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>

                <main class="Main IndexPage">
                    <div class="Main__container IndexPage__container">
                        <div class="IndexPage__title">
                            <%- include(paths.toPartials + '/song-book-title.ejs'); %>
                        </div>

                        <div class="Main__content IndexPage__content">
                            <ul class="IndexPage__list">
                                <% categories.forEach((item) => { %>
                                    <%- include(
                                        paths.toPartials + '/index-list-item.ejs',
                                        { 'item': item }
                                    ); %>
                                <% }) %>
                                <%- include(paths.toPartials + '/integrated-menu.ejs'); %>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>

            <%- include(paths.toPartials + '/footer.ejs'); %>
        </div>
        <%- include(paths.toPartials + '/gtag.ejs'); %>

        <script>
            (function () {
                function showViews() {
                    document.querySelectorAll('.IndexListItem__views').forEach(element => {
                        element.style.display = 'block';
                    });
                }

                document.addEventListener("keydown", function(event) {
                    if (event.key === "v" || event.key === "V") {
                        showViews();
                    }
                });

                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                if (urlParams.has('views')) {
                    showViews();
                }
            }) ();
        </script>
    </body>
</html>
