<!doctype html>
<html lang="en">
    <head>
        <title>Kirtan Mate - Home</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/index-page.css" />
    </head>
    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>
                <%- include(paths.toPartials + '/navigation.ejs'); %>

                <main class="Main IndexPage">
                    <div class="Main__container IndexPage__container">
                        <div class="Main__content IndexPage__content">
                            <ul class="IndexPage__list">
                                <% categories.forEach((item) => { %>
                                    <%- include(
                                        paths.toPartials + '/index-list-item.ejs',
                                        { 'item': item }
                                    ); %>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
