<!doctype html>
<html lang="en">
    <head>
        <title>Kirtan Mate - Home</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/home-page.css" />
    </head>
    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>
                <%- include(paths.toPartials + '/navigation.ejs'); %>

                <main class="Main HomePage">
                    <div class="Main__container HomePage__container">
                        <div class="HomePage__content">
                            <ul class="HomePage__categories">
                                <% categories.forEach((category) => { %>
                                <%- include(
                            paths.toPartials + '/category-item.ejs',
                            { 'category': category }
                        ); %>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
