<!doctype html>
<html lang="en">
    <head>
        <%- headParts %>

        <!-- Google Search Verification Tag -->
        <meta name="google-site-verification" content="f9oZnXzS_z1d4zbfTIBeXcGZKhoxh2i8mA-Q-MxYLto" />

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/index-page.css" />
    </head>
    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>

                <main class="Main IndexPage">
                    <div class="Main__container IndexPage__container">
                        <div class="IndexPage__navigation">
                            <%- include(paths.toPartials + '/navigation.ejs'); %>
                        </div>

                        <div class="Main__content IndexPage__content">
                            <ul class="IndexPage__list">
                                <% categories.forEach((item) => { %>
                                    <%- include(
                                        paths.toPartials + '/index-list-item.ejs',
                                        { 'item': item }
                                    ); %>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <%- include(paths.toPartials + '/gtag.ejs'); %>
    </body>
</html>
