<!doctype html>
<html lang="en">
    <head>
        <%- headParts %>

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/index-page.css" />
    </head>
    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>

                <main class="Main IndexPage">
                    <div class="Main__container IndexPage__container">

                        <div class="IndexPage__navigation"></div>

                        <div class="Main__content IndexPage__content">
                            <ul class="IndexPage__list">    
                                
                                <% songbooks.forEach((songbook) => { %>

                                    <li class="IndexListItem">
                                        <link
                                            rel="stylesheet"
                                            href="<%= paths.toCss %>/partials/index-list-item.css"
                                        />
                                    
                                        <ul class="IndexListItem__list">
                                            
                                            <li class="IndexListItem__item">
                                                <a href="<%= songbook.contentsPath %>" class="IndexListItem__link">
                                                    <div>
                                                        <h6 class="IndexListItem__name">
                                                            <%= songbook.title %>
                                                        </h6>
                                                        <div class="IndexListItem__subtitle">
                                                            <%= songbook.subtitle %>
                                                        </div>
                                                    </div>
                                
                                                    <div class="IndexListItem__suffix">
                                                        <div class="IndexListItem__icon icon-chevron-right"></div>
                                                    </div>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </li>

                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <%- include(paths.toPartials + '/gtag.ejs'); %>
    </body>
</html>
