<!doctype html>

<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/song-page.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.css" integrity="sha512-b+T2i3P45i1LZM7I00Ci5QquB9szqaxu+uuk5TUSGjZQ4w4n+qujQiIuvTv2BxE7WCGQCifNMksyKILDiHzsOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.js" integrity="sha512-2B9/byNV1KKRm5nQ2RLViPFD6U4dUjDGwuW1GU+ImJh8YinPU9Zlq1GzdTMO+G2ROrB5o1qasJBy1ttYz0wCug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>
                <%- include(paths.toPartials + '/prev-next-nav.ejs'); %>

                <main class="Main SongPage">
                    <div class="Main__container SongPage__container">
                        <div class="Main__content SongPage__content">
                            <header class="SongPage__header">
                                <div class="SongPage__box">
                                    <% if (title) { %>
                                        <h1 class="SongPage__title">
                                            <%= title %>
                                        </h1>
                                    <% } %>


                                    <% if (author) { %>
                                        <div class="SongPage__author">
                                            <%= author %>
                                        </div>
                                    <% } %>
                                </div>

                                <button
                                    class="AppButton RoundButton RoundButton--L RoundButton--dark"
                                    id="share-button"
                                    title="Поділитися піснею"
                                >
                                    <span class="AppIcon icon-share"></span>
                                </button>
                            </header>

                            <main class="SongPage__main">
                                <% if (verses && verses.length) { %>
                                    <ul class="SongPage__verses">
                                        <% verses.forEach((item, idx, arr) => { %>
                                            <%- include(
                                                paths.toPartials + '/song-verse.ejs',
                                                { 'item': item, 'verses': arr }
                                            ); %>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </main>
                        </div>
                    </div>
                </main>

                <%- include(paths.toPartials + '/prev-next-nav.ejs'); %>
            </div>
        </div>

        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
                integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        ></script>

        <script>
            (function() {
                /**
                 * Modal window setup.
                 */
                const btn = document.getElementById('share-button');
                btn.onclick = () => modal.open();

                const modal = new tingle.modal({
                    footer: false,
                    stickyFooter: false,
                    closeMethods: ['overlay', 'button', 'escape'],
                    cssClass: ['AppModal']
                });

                modal.setContent(`<%- include(paths.toPartials + "/song-share.ejs"); %>`);

                /**
                 * Share the URL.
                 */
                const href = window.location.href;
                const button = document.getElementById('copy-button');
                const input = document.getElementById('href-input');

                input.value = href;
                button.addEventListener('click', () => {
                    navigator.clipboard.writeText(href).catch(window.console.error);
                    setTimeout(() => modal.close(), 300);
                });

                const qr = document.getElementById('qrcode-block');
                new QRCode(qr, {
                    text: href,
                    width: 170,
                    height: 170
                });
            } ())
        </script>
    </body>
</html>
