<!doctype html>

<html lang="<%= language %>">
    <head>
        <%- headParts %>

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/song-page.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/partials/song-embed.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/partials/song-verse.css" />

        <% if (embeds && embeds.length) { %>
            <script src="https://w.soundcloud.com/player/api.js"></script>
        <% } %>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.css" integrity="sha512-b+T2i3P45i1LZM7I00Ci5QquB9szqaxu+uuk5TUSGjZQ4w4n+qujQiIuvTv2BxE7WCGQCifNMksyKILDiHzsOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.js" integrity="sha512-2B9/byNV1KKRm5nQ2RLViPFD6U4dUjDGwuW1GU+ImJh8YinPU9Zlq1GzdTMO+G2ROrB5o1qasJBy1ttYz0wCug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var locals = {
                pathsToImages: '<%= paths.toImages %>'
            };
        </script>
        <script src="<%= paths.toJs %>/user-choice.js"></script>
        <script src="<%= paths.toJs %>/three-mode-switch.js"></script>
    </head>

    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>

                <main class="Main SongPage">
                    <div class="Main__container SongPage__container">
                        <div class="SongPage__content">
                            <%- include(paths.toPartials + '/song-header.ejs'); %>

                            <main class="SongPage__main">
                                <% if (song.getVersesForWeb().length) { %>
                                    <div class="SongPage__toggle">
                                        <three-mode-switch
                                            label="<%= currentSongbook.i18n('SONG_PAGE.SHOW_TRANSLATION') %>"
                                        ></three-mode-switch>
                                    </div>

                                    <ul class="SongPage__verses <% if (has_word_by_word) { %>word-by-word-mode"<% } %>>
                                        <% song.getVersesForWeb().forEach((item, idx, arr) => { %>
                                            <%- include(
                                                paths.toPartials + '/song-verse.ejs',
                                                { 'item': item, 'verses': arr }
                                            ); %>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </main>

                            <% if (embeds && embeds.length) { %>
                                <section class="SongPage__extra">
                                    <ul class="SongPage__verses">
                                        <% embeds && embeds.length && embeds.forEach(item => { %>
                                            <%- include(
                                            paths.toPartials + '/song-embed.ejs',
                                            { 'item': item }
                                            ); %>
                                        <% }) %>
                                    </ul>
                                </section>
                            <% } %>
                        </div>
                    </div>

                    <%- include(paths.toPartials + '/prev-next-nav.ejs'); %>
                </main>
            </div>

            <%- include(paths.toPartials + '/footer.ejs'); %>
        </div>

        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
                integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        ></script>

        <script>
            (function() {
                /**
                 * Show modal window with share function.
                 */
                /**
                 * Modal window setup.
                 */
                const btn = document.getElementById('share-button');
                btn.onclick = () => modal.open();

                const modal = new tingle.modal({
                    footer: false,
                    stickyFooter: false,
                    closeMethods: ['overlay', 'button', 'escape'],
                    cssClass: ['AppModal']
                });

                modal.setContent(`<%- include(paths.toPartials + "/song-share.ejs"); %>`);

                /**
                 * Share the URL.
                 */
                const href = window.location.href;
                const telegraph_href = '<%= telegraph_href || '' %>';
                const input = document.getElementById('href-input');
                const tgInput = document.getElementById('tg-href-input');
                const copyButton = document.getElementById('copy-button');
                const tgCopyButton = document.getElementById('tg-copy-button');
                const tgCopyBox = document.querySelector('.SongShare__copy-tg');

                if (telegraph_href) {
                    tgCopyBox.style.display = 'block';
                }

                input.value = href;
                tgInput.value = telegraph_href;

                input.addEventListener('click', () => {
                    input.select();
                });
                tgInput.addEventListener('click', () => {
                    tgInput.select();
                });

                copyButton.addEventListener('click', () => {
                    navigator.clipboard.writeText(href).catch(window.console.error);
                    setTimeout(() => modal.close(), 300);
                });

                tgCopyButton.addEventListener('click', () => {
                    navigator.clipboard.writeText(telegraph_href).catch(window.console.error);
                    setTimeout(() => modal.close(), 300);
                });

                const qr = document.getElementById('qrcode-block');
                new QRCode(qr, {
                    text: href,
                    width: 240,
                    height: 240
                });
            } ())
        </script>

        <script>
            /**
             * Collapse-expand embedded audio frame. Make it auto-play on expand.
             */
            (function() {
                const embeds = document.querySelectorAll('[data-embed]');

                embeds.forEach((elem) => {
                    const frameContainer = elem.parentNode.querySelector('.Collapse');

                    elem.addEventListener('click', () => {
                        const isShown = frameContainer.classList.contains('Collapse__show');
                        const iFrame = elem.parentNode.querySelector('iframe');
                        const player = SC.Widget(iFrame);

                        elem.classList.toggle('show');
                        frameContainer.classList.toggle('Collapse__show');

                        player.bind(SC.Widget.Events.READY, () =>
                            isShown ? player.pause() : player.play()
                        );
                    });
                });
            })();
        </script>

        <script>
            /**
             * Show modal window with translation variations.
             */
            (function () {
                const btn = document.getElementById('variants-button');
                btn.onclick = () => modal.open();

                const modal = new tingle.modal({
                    footer: false,
                    stickyFooter: false,
                    closeMethods: ['overlay', 'button', 'escape'],
                    cssClass: ['AppModal']
                });

                modal.setContent(`<%- include(paths.toPartials + "/song-translations.ejs"); %>`);
            }) ();
        </script>

        <script>
            /**
             * Collapse-expand verses / translations.
             */
            (function () {
                const translations = [...document.querySelectorAll('[data-elem="translation"]')];
                const wordByWord = [...document.querySelectorAll('[data-elem="wordByWord"]')];
                const verses = [...document.querySelectorAll('[data-elem="verse"]')];

                function toggle(targets, shouldShow) {
                    const method = shouldShow ? 'add' : 'remove';
                    targets.forEach((t) => t.classList[method]('Collapse__show'));
                }

                function performUpdate(mode) {
                    if (mode === 1) {
                        toggle(verses, true);
                        toggle(wordByWord, false);
                        toggle(translations, false);
                    } else if (mode === 2) {
                        toggle(verses, false);
                        toggle(wordByWord, false);
                        toggle(translations, true);
                    } else {
                        toggle(verses, true);
                        toggle(wordByWord, true);
                        toggle(translations, true);
                    }
                }

                document.addEventListener(ThreeModeSwitch.EVENT_NAME, ({ detail }) => {
                    performUpdate(detail.value);
                    setSongDisplayMode(detail.value);
                });

                // Temporary disabled loading state.
                //performUpdate(getSongDisplayMode());

                // setTimeout(() => {
                //     [...document.querySelectorAll('.Collapse')]
                //         .forEach((v) => v.classList.add('Collapse__transition'));
                // }, 1000);
            })();
        </script>

        <%- include(paths.toPartials + '/gtag.ejs'); %>
    </body>
</html>
