<!doctype html>

<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="<%= paths.toCss %>/index.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/song-page.css" />
        <link rel="stylesheet" href="<%= paths.toCss %>/partials/song.css" />
    </head>

    <body>
        <div class="Layout">
            <div class="Layout__content">
                <%- include(paths.toPartials + '/header.ejs'); %>
                <!--%- include(paths.toPartials + '/prev-next-nav.ejs'); %-->

                <main class="Main SongPage">
                    <div class="Main__container SongPage__container">
                        <div class="Main__content SongPage__content">
                            <header class="SongPage__header">
                                <div class="SongPage__box">
                                    <% if (title) { %>
                                        <h1 class="SongPage__title">
                                            <%= title %>
                                        </h1>
                                    <% } %>


                                    <% if (author) { %>
                                        <div class="SongPage__author">
                                            <%= author %>
                                        </div>
                                    <% } %>
                                </div>

                                <button
                                    class="AppButton RoundButton RoundButton--L RoundButton--dark"
                                    title="Поділитися піснею"
                                >
                                    <span class="AppIcon icon-share"></span>
                                </button>
                            </header>

                            <main class="SongPage__main">
                                <% if (verses && verses.length) { %>
                                    <ul class="SongPage__verses">
                                        <% verses.forEach((item, idx, arr) => { %>
                                            <%- include(
                                                paths.toPartials + '/song-verse.ejs',
                                                { 'item': item, 'verses': arr }
                                            ); %>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </main>
                        </div>

                            <!-- %- include(paths.toPartials + '/song-share.ejs'); % -->
                    </div>
                </main>

                <!--        <footer class="SongPage__footer"></footer>-->
            </div>
        </div>
    </body>
</html>
