<link rel="stylesheet" href="<%= paths.toCss %>/partials/footer.css" />

<footer class="Footer">
    <div class="Footer__container">
        <div class="Footer__content">
            <a
                    class="Footer__item"
                    href="<%= paths.toPages.BOOK_LIST %>"
                    id="footer-link-books"
            >
                <div class="Footer__icon Footer__icon--regular icon-books"></div>
                <div class="Footer__icon Footer__icon--active icon-books-bold"></div>
                <h6 class="Footer__label"><%= i18n('FOOTER.BOOKS') %></h6>
            </a>

            <a
                    class="Footer__item"
                    href="<%= paths.toPages.CONTENTS %>"
                    id="footer-link-contents"
            >
                <div class="Footer__icon Footer__icon--regular icon-list-music"></div>
                <div class="Footer__icon Footer__icon--active icon-list-music-bold"></div>
                <h6 class="Footer__label"><%= i18n('FOOTER.CONTENTS') %></h6>
            </a>

            <a
                    class="Footer__item"
                    href="<%= paths.toPages.A_Z %>"
                    id="footer-link-index-list"
            >
                <div class="Footer__icon Footer__icon--regular icon-arrow-up-a-z"></div>
                <div class="Footer__icon Footer__icon--active icon-arrow-up-a-z-old"></div>
                <h6 class="Footer__label"><%= i18n('FOOTER.INDEX') %></h6>
            </a>

            <a
                    class="Footer__item"
                    href="<%= paths.toPages.SEARCH %>"
                    id="footer-link-search"
            >
                <div class="Footer__icon Footer__icon--regular icon-search"></div>
                <div class="Footer__icon Footer__icon--active icon-search-bold"></div>
                <h6 class="Footer__label"><%= i18n('FOOTER.SEARCH') %></h6>
            </a>
        </div>
    </div>
</footer>

<script>
    (function() {
        function setActive(elem) {
            elem.classList.add('Footer__item--active');
        }

        function areEqual(pathname, url) {
            return !url || url.startsWith('/')
                ? pathname === url
                : pathname === new URL(url).pathname;
        }

        const pathname = location.pathname.endsWith('/')
            ? location.pathname.slice(0, -1)
            : location.pathname;

        // if (location.pathname === '/') {
        if (areEqual(pathname, '<%= paths.toPages.BOOK_LIST %>')) {
            setActive(document.getElementById('footer-link-books'));
        } else if (areEqual(pathname, '<%= paths.toPages.CONTENTS %>')) {
            setActive(document.getElementById('footer-link-contents'));
        } else if (areEqual(pathname, '<%= paths.toPages.A_Z %>')) {
            setActive(document.getElementById('footer-link-index-list'));
        } else if (areEqual(pathname, '<%= paths.toPages.SEARCH %>')) {
            setActive(document.getElementById('footer-link-search'));
        }
    })()
</script>
