<header class="Header">
    <link
        rel="stylesheet"
        href="<%= paths.toCss %>/partials/header.css"
    />

    <div class="Header__container">
        <div class="Header__content">
            <a href="<%= paths.toPages.root %>" class="Header__home" style="width: initial;">
                <h6 style="color: white; margin: 0;">
                    Bhagavad Gita
                </h6>
                <!--
                <img
                    alt="Home"
                    class="Header__logo"
                    src="<%= paths.toImages %>/svg/kirtan-mate.svg"
                />
                -->
            </a>
            <% if (locals.variants && variants.length > 1) { %>
                <div>
                    <% variants.forEach(function(v) { %>
                        <a href="<%= v.href %>" style="<% if (v.selected) { %>color: white; font-weight: bold;<% } else { %>color: grey;<% } %>">[<%= v.title %>]</a>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </div>
</header>
