<li class="IndexListItem" id="section-<%= item.name %>">
    <link
        rel="stylesheet"
        href="<%= paths.toCss %>/partials/index-list-item.css"
    />

    <% if (item.name) { %>
        <header class="IndexListItem__header">
            <h6 class="IndexListItem__title">
                <%= item.name %>
            </h6>
        </header>
    <% } else { %>
        <header class="IndexListItem__empty_header"></header>
    <% } %>

    <ul class="IndexListItem__list">
        <% item.items.forEach((song) => { %>
            <li class="IndexListItem__item">
                <a href="<%= paths.toSongs %>/<%= song.fileName %><% if (song.duplicates && (song.duplicates[0].idx !== song.idx)) { %>?p=<%= song.page_number %><% } %>" class="IndexListItem__link">
                    <h6 class="IndexListItem__name<% if (song.meta.translation === 'no') { %> no-translation<% } %>" title="<%= song.aliasName %>">
                        <%= song.title %>

                        <% if (song.page) { %>&nbsp;
                            <span class="IndexListItem__page" title="Page in paper songbook">
                                <%= Array.isArray(song.page) ? song.page.join(', ') : song.page %>
                            </span>
                        <% } %>

                        <% if (song.embeds) { %>&nbsp;
                            <span class="IndexListItem__embed" title="Audio">♪</span>
                        <% } %>
                    </h6>

                    <div class="IndexListItem__views">
                        <span><%= ('telegraph_views' in song) ? song.telegraph_views : '' %></span>
                    </div>

                    <div class="IndexListItem__suffix">
                        <div class="IndexListItem__icon icon-chevron-right"></div>
                    </div>
                </a>
            </li>
        <% }) %>
    </ul>
</li>
