<link
    rel="stylesheet"
    href="<%= paths.toCss %>/partials/navigation.css"
/>

<a class="Navigation__link" href="<%= paths.toPages.index %>">
    <button class="AppButton Navigation__button">
        <span><%= i18n('Contents') %></span>
    </button>
</a>
<!--
<a class="Navigation__link" href="<%= paths.toPages.index_list %>">
    <button class="AppButton Navigation__button">
        <span><%= i18n('Index') %></span>
    </button>
</a>
-->
<script>
    (function nav() {
        const p = location.pathname;
        const path = p.endsWith('/')
            ? p.slice(0, -1)
            : p;

        Array.from(
            document.getElementsByClassName('Navigation__link')
        ).forEach((el) => {
            if (el.href.endsWith(path)) {
                el.children[0].classList.add('Navigation__button--active');
            }
        });
    })()
</script>
