<div class="PrevNextNav">
    <link rel="stylesheet" href="<%= paths.toCss %>/partials/prev-next-nav.css" />

    <div class="PrevNextNav__container">
        <div class="PrevNextNav__content">
            <a class="PrevNextNav__link PrevNextNav__link--prev <% if (!navigation.prev) { %>PrevNextNav__link--disabled<% } %>" href="<%= navigation.prev?.href || '' %>">
                <span class="PrevNextNav__icon PrevNextNav__icon--prev">
                    <span class="icon-chevron-right"></span>
                </span>

                <span class="PrevNextNav__label ellipsis">
                    <%= navigation.prev?.title || '' %>
                </span>
            </a>

            <a class="PrevNextNav__link PrevNextNav__link--next <% if (!navigation.next) { %>PrevNextNav__link--disabled<% } %>" href="<%= navigation.next?.href || '' %>">
                <span class="PrevNextNav__label ellipsis">
                    <%= navigation.next?.title || '' %>
                </span>

                <span class="PrevNextNav__icon PrevNextNav__icon--next">
                    <span class="icon-chevron-right"></span>
                </span>
            </a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/swiped-events/1.1.9/swiped-events.min.js" integrity="sha512-Km1M9MRIhy+uzmSn7MU2G0fQawFMpfpScHpf0UUvcpkGJCJhwlTRF/mbTUimo1N9woYZ5RLES7iL+kp65Q1d0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        (function() {
            var prevHref = '<%= navigation.prev?.href %>';
            var nextHref = '<%= navigation.next?.href %>';
            try {
                /**
                 * Swipe events.
                 */
                document.addEventListener('swiped-right', () => {
                    if (prevHref)
                        window.location.href = prevHref;
                });

                document.addEventListener('swiped-left', () => {
                    if (nextHref)
                        window.location.href = nextHref;
                });

            } catch (e) {
                window.console.error(e);
            }

            <% if (navigation.pages) { %>                
                var pages = <%- JSON.stringify(navigation.pages, null, 4) %>;

                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const idx = urlParams.get('p');
                var page = idx && pages[idx];
                if (page) {
                    const prevLink = document.querySelector('.PrevNextNav__link--prev');
                    const nextLink = document.querySelector('.PrevNextNav__link--next');
                    const searchLinks = document.querySelectorAll('.page-number-search');
    
                    prevHref = page.prev.href;
                    prevLink.setAttribute('href', page.prev.href);
                    prevLink.querySelector('.PrevNextNav__label').innerText = page.prev.title;
    
                    nextHref = page.next.href;
                    nextLink.setAttribute('href', page.next.href);
                    nextLink.querySelector('.PrevNextNav__label').innerText = page.next.title;

                    searchLinks.forEach(searchLink => {
                        var searchHref = searchLink.getAttribute('href');
                        searchHref = searchHref.replace(/p=\d+/, 'p=' + idx);
                        searchLink.setAttribute('href', searchHref);
                    });
                }

            <% } %>
        } ())
    </script>
</div>
