<% if (item.subtitle && item.subtitle.length) { %>
    <li class="SongVerse">
        <% item.subtitle.forEach((item, idx) => { %>
            <div class="SongPage__subtitle">
                <%= item %>
            </div>
        <% }) %>
    </li>
<% } %>

<li class="SongVerse">
    <% if (verses.length > 1 && item.number) { %>
        <header class="SongVerse__header">
            <h6 class="SongVerse__title">
                <%= item.number %>
            </h6>
        </header>
    <% } %>

    <% if (item.original.length) { %>
        <ul class="SongVerse__translation">
            <li class="SongVerse__paragraph">
                <% item.original.forEach((line) => { %>
                    <% if (line) { %>            
                        <%- line.replace(/\\$/, '') %>
                        <br>
                    <% } else { %>
                        <br>
                    <% } %>
                <% }) %>
            </li>
        </ul>
    <% } %>

    <% if (item.text.length) { %>
        <ul class="SongVerse__text">
            <% item.text.forEach((line) => { %>
                <% if (line) { %>
                    <li class="SongVerse__line <%= getLineIndentClass(line, 'SongVerse__line') %>">
                        <%- transformLine(line, attributes) %>
                    </li>
                <% } else { %>
                    <br>
                <% } %>
            <% }) %>
        </ul>
    <% } %>

    <% if (item.word_by_word.length) { %>
        <ul class="SongVerse__translation">
            <% item.word_by_word.forEach((line) => { %>
                <% if (line) { %>
                    <li class="SongVerse__paragraph">
                        <p>
                            <%- line %>
                        </p>
                    </li>
                <% } else { %>
                    
                <% } %>
            <% }) %>
        </ul>
    <% } %>

    <% if (item.translation.length) { %>
        <ul class="SongVerse__translation">
            <% item.translation.forEach((p, idx) => { %>
                <% if (p.type === 'subtitle') { %>

                    <li class="SongVerse__paragraph">
                        <div class="SongPage__subtitle">
                            <p>
                                <strong><%= p.text %></strong>
                            </p>
                        </div>
                    </li>

                <% } else if (p.type === 'verse') { %>
                    
                    <% if (p.text) { %>
                        <li class="SongVerse__line <%= getLineIndentClass(p.text, 'SongVerse__line') %>">
                            <%- transformLine(p.text, attributes) %>
                        </li>
                    <% } else { %>
                        <br>
                    <% } %>

                <% } else if (p.type === 'original') { %>

                    <% p.lines.forEach((line) => { %>
                        <%- line.replace(/\\$/, '') %><br>
                    <% }) %>

                <% } else { %>

                    <% if (idx > 0 && item.translation[idx - 1].type === 'verse') { %>
                        <br>
                    <% } %>

                    <li class="SongVerse__paragraph">
                        <% p.lines.forEach((line) => { %>
                            <p>
                                <%- line %>
                            </p>
                        <% }) %>
                    </li>
                <% } %>
            <% }) %>
        </ul>
    <% } %>
</li>
