<% if (item.subtitle && item.subtitle.length) { %>
    <li class="SongVerse">
        <% item.subtitle.forEach((item) => { %>
            <div class="SongPage__subtitle">
                <%= item %>
            </div>
        <% }) %>
    </li>
<% } %>

<li class="SongVerse">
    <% if (verses.length > 1 && item.number) { %>
        <header class="SongVerse__header">
            <h6 class="SongVerse__title">
                <%= item.number %>
            </h6>
        </header>
    <% } %>

    <% if (item.text.length) { %>
        <ul class="SongVerse__text">
            <% item.text.forEach((line) => { %>
                <% if (line.text) { %>
                    <li class="SongVerse__line <%= line.css_class %>">
                        <%- line.text %>
                    </li>
                <% } else { %>
                    <br>
                <% } %>
            <% }) %>
        </ul>
    <% } %>

    <% if (item.word_by_word.length) { %>
        <div class="Collapse Collapse__show" data-elem="translation">
            <ul class="SongVerse__wordbyword">
                <% item.word_by_word.forEach((p) => { %>
                    <li class="SongVerse__paragraph">
                        <p>
                            <%- p %>
                        </p>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <% if (item.translation.length) { %>
        <div class="Collapse Collapse__show" data-elem="translation">
            <ul class="SongVerse__translation">
                <% item.translation.forEach((p) => { %>
                    <li class="SongVerse__paragraph">
                        <p>
                            <%- p %>
                        </p>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% } %>
</li>
