<link rel="stylesheet" href="<%= paths.toCss %>/partials/song-share.css" />

<div class="SongShare">
    <div class="SongShare__container">
        <header class="SongShare__header">
            <h4 class="SongShare__title">
                <%= currentSongbook.i18n.SONG_PAGE.SHARE %>
            </h4>

<!--            <button-->
<!--                    class="NoBorderButton SongShare__close"-->
<!--                    id="close-button"-->
<!--                    title="<%= currentSongbook.i18n.SONG_PAGE.CLOSE %>"-->
<!--            >-->
<!--                <span class="icon-xmark-large"></span>-->
<!--            </button>-->
        </header>

        <div class="SongShare__qr" id="qrcode-block"></div>

        <div class="SongShare__copy">
            <label for="" class="SongShare__label"
                ><%= currentSongbook.i18n.SONG_PAGE.COPY_LINK %></label
            >

            <div class="SongShare__form">
                <input
                    class="SongShare__input"
                    id="href-input"
                    readonly
                    type="text"
                />

                <button
                    class="AppButton RoundButton RoundButton--L RoundButton--dark SongShare__button"
                    id="copy-button"
                    title="<%= currentSongbook.i18n.SONG_PAGE.COPY %>"
                >
                    <span class="icon-copy"></span>
                </button>
            </div>
        </div>
    </div>
</div>
