<h3><%= title %></h3>

<h4><%= subtitle %></h4>

<img src="<%= paths.toImages %>/banner/banner-<%= songbook_id %>@2.png" />

<%- include(paths.toPartials + '/menu.ejs', {menu: 'index'}); %>

<p><% sections.forEach((item, idx) => { %><a href="#<%= item.page %>">&nbsp;<%= item.page %>&nbsp;</a>   <% if (idx !== 0 && (idx + 1) % 7 === 0) { %>
<% } %><% }) %></p>

<% items.forEach((item) => { %>
    <% if (item.name) { %>
        <h4 id=""><%= item.name %></h4>
    <% } %>
    <% item.items.forEach((song) => { %>
        <p><a href="<% if (song.telegraphPath) { %>/<%= song.telegraphPath %><% } else { %><%= paths.toSongs %>/<%= song.fileName %><% if (song.duplicates && (song.duplicates[0].idx !== song.idx)) { %>?p=<%= song.page_number %><% } %><% } %>"><%= song.title %></a><% if (render.embed_exists) { %><% if (song.embeds) { %>&nbsp;&nbsp;♪<% } %><% } %><% if (song.page) { %><% if (render.short_page_number) { %> (<%= Array.isArray(song.page) ? song.page.join(', ') : song.page %>)<% } else { %>&nbsp;&nbsp;<strong><%= Array.isArray(song.page) ? song.page.join(', ') : song.page %></strong><% } %><% } %></p>       
    <% }) %>
    <p>
        <a href="#<%= subtitle.replace(/ /g, '-') %>">↑</a>
    </p>
    <p>
        &nbsp;
    </p>
<% }) %>

<%- include(paths.toPartials + '/menu.ejs', {menu: 'index'}); %>

<p>
    &nbsp;
</p>
<p>
    <a href="<%= paths.PUBLIC_BOOK_LIST %>"><%= i18n('BOOK_LIST_PAGE.HEAD.DESCRIPTION') %>...</a> (<%= songbooks_count %>)
</p>
